* {
    box-sizing: border-box;
}

#root {
    text-align: center;
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.cart-number{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 64px;
    top: 45px;
    right: 2px;
}

.cart-item{
    
}